:root {
  --font-primary: p22-mackinac-pro, serif;
  --font-secondary: soleil, sans-serif;
  --font-third: 'Termina', sans-serif;
  --color-pink: #ECC2AD;
  --color-beige: #F2F0ED;
  --color-green: #3C5951;
  --color-black: #414141;
}

html {
  scroll-behavior: smooth;
}

/*General Styling*/

.my-padding {
  padding-top: 5em;
  padding-bottom: 5em;
}

.my-padding-top {
  padding-top: 5em;
}

.black {
  color: var(--color-black)
}

.green {
  color: var(--color-green);
}

.pink {
  color: var(--color-pink);
}

.beige {
  background-color: var(--color-beige);
}

/*Main Banner*/

.main-banner {
  background-image: url('../images/header-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
 
.main-nav ul {
  text-align: center;
}

.main-nav ul li a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.rsvp-nav-btn {
  background-color: var(--color-pink);
  padding: .5em 2em;
  transition: all .3s ease-in-out;
}

.rsvp-nav-btn:hover {
  background-color: white;
  padding: .5em 2em;
  color: var(--color-green);
}

.rsvp-main-btn {
  border: 1px solid white;
  padding: .5em 3em;
  color: white;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.rsvp-main-btn:hover {
  border: 1px solid white;
  padding: .5em 3em;
  color: var(--color-green);
  background-color: white;
  text-decoration: none;
}

/*Introduction*/

.leading-text {
  color: var(--color-green);
  text-transform: uppercase;
}

.rsvp-inline-link {
  border-bottom: 3px solid #ECC2AD;
  color: var(--color-black);
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.rsvp-inline-link:hover {
  border-bottom: 3px solid #3C5951;
}

/*Venue*/

.venue-section {
  border-bottom: 5px solid #414141;
}

/*Wedding Schedule*/

.wedding-schedule-background {
  background-image: url('../images/wedding-day-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 1500px;
}

/*Additional Information*/

.info-sections {
  border-bottom: 1px solid #414141;
  margin: 1em;
  text-transform: uppercase;
  padding-bottom: .5em;
}

h4 {
  text-transform: uppercase;
}


@media only screen and (min-width: 608px) {

  .main-nav {
    right: 6em;
  }

  .main-nav ul {
    text-align: right;
  }
}