:root {
  --font-primary: p22-mackinac-pro, serif;
  --font-secondary: soleil, sans-serif;
  --font-third: 'Termina', sans-serif;
  --color-black: #1C1C1C;
  --color-beige: #f8f7f5;
  --color-hds: #583017;
}

html {
  scroll-behavior: smooth;
}

